.z_readtest {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.z_readtest .sel {
  background: #fff;
  padding: 10px;
}

.z_readtest .sel span {
  margin-right: 6px;
}

.z_readtest .list-test {
  margin-top: 10px;
  background: #fff;
  padding: 10px;
}
